@model LABORATORIO1.Models.ARITMETICA

@{
    ViewBag.Title = "multiplicar";
}

<h2>multiplicar</h2>
@using(@Html.BeginForm())
{
   @Html.TextBoxFor(x=>x.primero);
   @Html.TextBoxFor(x=>x.segundo);
   
    <input type="submit" value="calcular"/>                             
}
@ViewBag.resultado;
